.btnCheckoutAlrt{
    width: 400px;
    height: 400px;
    color: white;
    background-color: white;
    border-bottom: 3px #2196f3 solid;
    position: fixed;
    top: 25%;
    left: 35%;
    border-radius: 20px;
    display: none;
}
.btnCheckoutAlrt .fsSuc{
    height: 250px;
    background-color: #2196f3;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}
.fsSuc i{
    color: #4df57f;
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 80px;

}

.successMessage{
    padding: 10px 0;
    text-align: center;
    color: #2196f3;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.successMessage input {
    padding: 5px 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color:white;
    background-color: #2196f3;
    border: #2196f3 3px solid;
    cursor: pointer;
}




/* -------------------------wrong */
.btnCheckoutAlrtwrong{
    width: 400px;
    height: 400px;
    color: white;
    background-color: white;
    border-bottom: 3px red solid;
    position: fixed;
    top: 25%;
    left: 30%;
    border-radius: 20px;
    display: none;
}
.btnCheckoutAlrtwrong .fswrong{
    height: 250px;
    background-color: red;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}
.fswrong i{
    color: white;
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 80px;

}

.wrongmessage{
    padding: 10px 0;
    text-align: center;
    color: red;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.wrongmessage input {
    padding: 5px 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color:white;
    background-color: red;
    border: red 3px solid;
    cursor: pointer;
}